ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
TEST_USER_USERNAME=user
TEST_USER_PASSWORD=password
EXAMPLE_PODCASTS = [
    "https://feeds.libsyn.com/110110/rss",
    "https://feeds.megaphone.fm/GNL2128031227",
    "http://feeds.libsyn.com/426404/rss"
]