{% extends "layout.html" %}
{% block main %}
    <div class="container-fluid full-height gx-5">
        <div class="row" style="height: 100%;">
            <div class="container p-5 px-3" style="width: 30em; height: 25em">
                <div class="bg-dark rounded-3 p-4">
                    <h2>Log in</h2>
                    <hr>
                    <form action="/login" method="post">
                        <div class="mb-3">
                            <p>Name:</p>
                            <input name="username" autocomplete="off" autofocus type="text" placeholder="Username">
                        </div>
                        <div class="mb-3">
                            <p>Password:</p>
                            <input name="password" autocomplete="off" type="password" placeholder="Password">
                        </div>
                        <div class="mb-3">
                            <button type="submit">Log in</button>
                        </div>
                    </form>
                    <hr>
                    <h6>Don't have an account? click <a href="/register">here</a> to register a new one!</h6>
                </div>
            </div>
        </div>

    </div>
    <script src="/static/reglog.js">
    </script>
{% endblock %}
